* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


$radius:3px;
$center:0 auto;

.cleaner{
    clear:both;
    display:none;
}

body {
    background-color: #F5F5F5;
}

img, nav, footer{
    border-radius: $radius;
}

h2::after{
    content:"";
    display:block;
    width:25px;
    height:5px;
    background-color:#3166af;
    margin-bottom:30px;
}

#map{
    width:100%;
    height:400px;
    border-radius:$radius;
}

/*index.html*/

#logo{
    img, h1{
        padding-top:15px;
    }
}

.carousel-inner{
    margin-bottom:40px;
}
.carousel-caption{
    background-color:rgba(0,0,0,.5);
    border-radius:$radius;
}

/*katalog.html*/

#catcontent{
    background-image:url('../images/book.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height:50vh;
    padding-bottom:30px;
}

#backhome{
    color:#FFF;
    position:sticky;
    top:5px;
}

#catalogue{
    background-color:rgba(255,255,255,.3);
    border-radius:$radius;
    label{
        color:#000;
    }
}